@model WebShop.Models.ChangePasswordViewModel

@{
    ViewData["ChangePassword"] = "Change Password";
}

<h1>Change Password</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePasswordAction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerPassword" class="control-label">Old password</label>
                <input asp-for="CustomerPassword" class="form-control" />
                <span asp-validation-for="CustomerPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerNewPassword" class="control-label">New password</label>
                <input type="password" asp-for="CustomerNewPassword" class="form-control" />
                <span asp-validation-for="CustomerNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>