@using Microsoft.AspNetCore.Http.Features
@using Logic
@model System.Collections.Generic.List<Logic.Order>
@{
    ViewBag.Title = "Index";
    List<OrderViewModel> orders = ViewBag.Order;
}


<h1>Products in Order</h1>

<table class="table table-bordered table table-striped">
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Remove</th>
    </tr>
    @foreach (var order in orders)
     {
        <tr>
            <td>@order.ProductName</td>
            <td>@order.Price</td>
            <td>@order.Size</td>
            <td>@order.Quantity</td>
            <td><a asp-controller="Product" asp-action="RemoveProdFromOrder" asp-route-orderItemId=@order.OrderItemId>Remove From Order</a></td>
        </tr>
     }
</table>

<a asp-controller="Product" asp-action="Index">Continue Shopping?</a>